In [8]:
import pandas as pd
import numpy as np
from actionrules.actionRulesDiscovery import ActionRulesDiscovery

In [9]:
df=pd.read_csv("attrition.csv", sep=",")
df.head()

,Gender,Satisfaction,Business Travel,Department,EducationField,Salary,Home-Office,Attrition
0,Female,High,Rare,Sales,Engineering,Medium,Near,Yes
1,Male,Low,Frequent,Sales,Engineering,Low,Near,Yes
2,Male,Medium,Rare,R&D,Other,Medium,Far,No
3,Female,Low,Frequent,R&D,Engineering,Medium,Far,Yes
4,Male,Medium,Rare,R&D,Medical,Medium,Far,No

In [10]:
df.rename(columns={'Business Travel' : 'BusinessTravel'}, inplace=True)

In [11]:
utility_source=pd.read_csv("attrition_utility.csv", sep=",",header=None, index_col=0)

In [16]:
utility_source

                                1
0
BusinessTravel_no              90
BusinessTravel_rare           500
BusinessTravel_frequent       200
Department_sales            10000
Department_r&d               5000
EducationField_engineering    500
EducationField_other          500
EducationField_medical        500
Salary_low                    500
Salary_medium                 200
Salary_high                   100
Attrition_yes                   0
Attrition_no                  550

In [19]:
actionRulesDiscovery = ActionRulesDiscovery()
actionRulesDiscovery.load_pandas(df)
actionRulesDiscovery.fit(stable_attributes=["Department", "EducationField", "Satisfaction"],
                         flexible_attributes=["BusinessTravel", "Salary"],
                         consequent="Attrition",
                         conf=40,
                         supp=3,
                         desired_classes=["No"],
                         utility_source=utility_source,
                         min_util_dif=100,
                         sort_by_util_dif=True
                         )

In [20]:
actionRulesDiscovery.get_pretty_action_rules()

["If attribute 'Satisfaction' is 'low', attribute 'Salary' value 'low' is changed to 'medium', then 'Attrition' value 'Yes' is changed to 'No' with support: 0.03, confidence: 0.6000000000000001 and uplift: 0.022. Change in utility caused by action is 250.0.",
 "If attribute 'Department' is 'sales', attribute 'Salary' value 'low' is changed to 'medium', then 'Attrition' value 'Yes' is changed to 'No' with support: 0.04, confidence: 0.48484848484848486 and uplift: 0.023636363636363636. Change in utility caused by action is 250.0.",
 "If attribute 'Satisfaction' is 'low', attribute 'Salary' value 'low' is changed to 'high', then 'Attrition' value 'Yes' is changed to 'No' with support: 0.03, confidence: 0.6428571428571428 and uplift: 0.024285714285714285. Change in utility caused by action is 150.0.",
 "If attribute 'Department' is 'sales', attribute 'Salary' value 'low' is changed to 'high', then 'Attrition' value 'Yes' is changed to 'No' with support: 0.04, confidence: 0.6666666666666666 and uplift: 0.04. Change in utility caused by action is 150.0."]