In [1]:
import pandas as pd
from actionrules.actionRulesDiscovery import ActionRulesDiscovery

In [3]:
def calculate_utility(**kwargs):
    utility = 0
    for key, value in kwargs.items():
        if key == 'Age':
           pass
        elif key == 'Sex':
            if value == 'male':
                utility += 10
            else:
                utility += 20
        elif key == 'Embarked':
            if value == 'S':
                utility += 20
            elif value == 'C':
                utility += 30
            elif value == 'Q':
                utility += 40
            else:
                pass
        elif key == 'Fare':
            pass
        elif key == 'Pclass':
            if value == '1':
                utility += 30
            elif value == '2':
                utility += 20
            elif value == '3':
                utility += 10
            else:
                pass
        else:
            raise Exception('Unknown attribute')
    return utility

dataFrame = pd.read_csv("notebooks/data/titanic.csv", sep=";")
dataFrame.head()

dataFrame[dataFrame.Sex == "female"][dataFrame.Embarked == "S"][dataFrame.Survived == 0.0]

actionRulesDiscovery = ActionRulesDiscovery()
actionRulesDiscovery.load_pandas(dataFrame)
actionRulesDiscovery.fit(stable_attributes=["Age", "Sex"],
                         flexible_attributes=["Embarked", "Fare", "Pclass"],
                         consequent="Survived",
                         conf=55,
                         supp=3,
                         desired_classes=["1.0"],
                         utility_calc=calculate_utility2,
                         min_util=20
                         )

print(len(actionRulesDiscovery.get_action_rules_representation()))

for rule in actionRulesDiscovery.get_action_rules_representation():
    print(rule)
    print(" ")

d:\work\kacka\actionrules\actionrules\venv\lib\site-packages\ipykernel_launcher.py:38: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

NameError: name 'calculate_utility2' is not defined

In [2]:
dataFrame = pd.read_csv("notebooks/data/titanic.csv", sep=";")
dataFrame.head()

   ID                  Age Embarked       Fare  Pclass     Sex  Survived
0   1  <16.13336;32.10002)        S  very high     1.0  female       1.0
1   2    <0.1667;16.13336)        S  very high     1.0    male       1.0
2   3    <0.1667;16.13336)        S  very high     1.0  female       0.0
3   4  <16.13336;32.10002)        S  very high     1.0    male       0.0
4   5  <16.13336;32.10002)        S  very high     1.0  female       0.0

In [3]:
utility = pd.read_csv("utility_table.csv", sep=",", header=None, index_col=0)
utility.head()

                         1
0
Age_<0.1667;16.13336)    0
Age_<16.13336;32.10002)  0
Age_<32.10002;48.06668)  0
Age_<48.06668;64.03334)  0
Age_<64.03334;80>        0

In [5]:
actionRulesDiscovery = ActionRulesDiscovery()
actionRulesDiscovery.load_pandas(dataFrame)
actionRulesDiscovery.fit(stable_attributes=["Age", "Sex"],
                         flexible_attributes=["Embarked", "Fare", "Pclass"],
                         consequent="Survived",
                         conf=55,
                         supp=3,
                         desired_classes=["1.0"],
                         min_util=50,
                         utility_source=utility
                         )

In [6]:
len(actionRulesDiscovery.get_pretty_action_rules())

1