In [1]:
import pandas as pd
from actionrules.actionRulesDiscovery import ActionRulesDiscovery

In [2]:
dataFrame = pd.read_csv("notebooks/data/titanic.csv", sep=";")
dataFrame.head()

   ID                  Age Embarked       Fare  Pclass     Sex  Survived
0   1  <16.13336;32.10002)        S  very high     1.0  female       1.0
1   2    <0.1667;16.13336)        S  very high     1.0    male       1.0
2   3    <0.1667;16.13336)        S  very high     1.0  female       0.0
3   4  <16.13336;32.10002)        S  very high     1.0    male       0.0
4   5  <16.13336;32.10002)        S  very high     1.0  female       0.0

In [3]:
utility = pd.read_csv("utility_table.csv", sep=",", header=None, index_col=0)
utility.head()

                         1
0
Age_<0.1667;16.13336)    0
Age_<16.13336;32.10002)  0
Age_<32.10002;48.06668)  0
Age_<48.06668;64.03334)  0
Age_<64.03334;80>        0

In [4]:
actionRulesDiscovery = ActionRulesDiscovery()
actionRulesDiscovery.load_pandas(dataFrame)
actionRulesDiscovery.fit(stable_attributes=["Age", "Sex"],
                         flexible_attributes=["Embarked", "Fare", "Pclass"],
                         consequent="Survived",
                         conf=55,
                         supp=3,
                         desired_classes=["1.0"],
                         min_util_dif=20,
                         utility_source=utility,
                         sort_by_util_dif = True
                         )

In [5]:
actionRulesDiscovery.get_pretty_action_rules()

["If attribute 'Age' is '<16.13336;32.10002)', attribute 'Pclass' value '3.0' is changed to '1.0', then 'Survived' value '0.0' is changed to '1.0' with support: 0.04732824427480916, confidence: 0.5261127825349071 and uplift: 0.10257085197859087. Change in utility caused by action is 30.0.",
 "If attribute 'Age' is '<16.13336;32.10002)', attribute 'Pclass' value '2.0' is changed to '1.0', then 'Survived' value '0.0' is changed to '1.0' with support: 0.04732824427480916, confidence: 0.42040850078557845 and uplift: 0.032104939896463985. Change in utility caused by action is 20.0.",
 "If attribute 'Age' is '<16.13336;32.10002)', attribute 'Pclass' value '2.0' is changed to '1.0', attribute 'Fare' value 'avg' is changed to 'very high', then 'Survived' value '0.0' is changed to '1.0' with support: 0.03969465648854962, confidence: 0.46254681647940077 and uplift: 0.02463952502120441. Change in utility caused by action is 20.0.",
 "If attribute 'Age' is '<16.13336;32.10002)', attribute 'Pclass' value '3.0' is changed to '1.0', attribute 'Fare' value 'very low' is changed to 'very high', then 'Survived' value '0.0' is changed to '1.0' with support: 0.03969465648854962, confidence: 0.49948078920041533 and uplift: 0.03379983036471586. Change in utility caused by action is 30.0.",
 "If attribute 'Age' is '<16.13336;32.10002)', attribute 'Pclass' value '3.0' is changed to '1.0', attribute 'Fare' value 'lower' is changed to 'very high', then 'Survived' value '0.0' is changed to '1.0' with support: 0.03969465648854962, confidence: 0.582089552238806 and uplift: 0.054028837998303644. Change in utility caused by action is 30.0.",
 "If attribute 'Age' is '<32.10002;48.06668)', attribute 'Pclass' value '3.0' is changed to '1.0', then 'Survived' value '0.0' is changed to '1.0' with support: 0.05114503816793893, confidence: 0.5283294392523364 and uplift: 0.03443675536848112. Change in utility caused by action is 30.0.",
 "If attribute 'Age' is '<32.10002;48.06668)', attribute 'Pclass' value '2.0' is changed to '1.0', then 'Survived' value '0.0' is changed to '1.0' with support: 0.031297709923664124, confidence: 0.3889832908524497 and uplift: 0.012463437254762073. Change in utility caused by action is 20.0.",
 "If attribute 'Sex' is 'female', attribute 'Pclass' value '3.0' is changed to '1.0', attribute 'Embarked' value 's' is changed to 'c', then 'Survived' value '0.0' is changed to '1.0' with support: 0.05267175572519084, confidence: 0.5876187356698329 and uplift: 0.05676808945274702. Change in utility caused by action is 20.0."]