In [1]:
import pandas as pd
from actionrules.actionRulesDiscovery import ActionRulesDiscovery

In [2]:
dataFrame = pd.read_csv("notebooks/data/titanic.csv", sep=";")
dataFrame.head()

   ID                  Age Embarked       Fare  Pclass     Sex  Survived
0   1  <16.13336;32.10002)        S  very high     1.0  female       1.0
1   2    <0.1667;16.13336)        S  very high     1.0    male       1.0
2   3    <0.1667;16.13336)        S  very high     1.0  female       0.0
3   4  <16.13336;32.10002)        S  very high     1.0    male       0.0
4   5  <16.13336;32.10002)        S  very high     1.0  female       0.0

In [3]:
utility = pd.read_csv("utility_table.csv", sep=",", header=None, index_col=0)
utility.head()

                         1
0
Age_<0.1667;16.13336)    0
Age_<16.13336;32.10002)  0
Age_<32.10002;48.06668)  0
Age_<48.06668;64.03334)  0
Age_<64.03334;80>        0

In [4]:
actionRulesDiscovery = ActionRulesDiscovery()
actionRulesDiscovery.load_pandas(dataFrame)
actionRulesDiscovery.fit(stable_attributes=["Age", "Sex"],
                         flexible_attributes=["Embarked", "Fare", "Pclass"],
                         consequent="Survived",
                         conf=55,
                         supp=3,
                         desired_classes=["1.0"],
                         min_util_dif=20,
                         utility_source=utility
                         )

In [5]:
len(actionRulesDiscovery.get_pretty_action_rules())

4